.container-cursos {
  background-color: #145e8f;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cursos {
  margin: 0 auto;
  max-width: 1456px;
  width: 100%;
  padding: 20px 40px;
}

.formacao {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}

.formacao-main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.formacao img {
  width: 120px;
}

.formacao h1 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 2.369rem;
  color: #f0f0f0;
}

.bacharel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bacharel p {
  font-family: "Golos", sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  color: #f0f0f0;
}

.bacharel span {
  font-family: "Golos", sans-serif;
  font-size: 1.333rem;
  font-weight: 700;
  color: #f0f0f0;
}

.bacharel .bacharel-card {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border-radius: 4px;
  place-self: start;
}

.bacharel .bacharel-card .bacharel-card-desc {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.bacharel .bacharel-card .bacharel-card-desc h2 {
  font-family: "Golos", sans-serif;
  font-size: 1.333rem;
  font-weight: 700;
  color: #145e8f;
}

.bacharel .bacharel-card .bacharel-card-desc h3 {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #3498db;
}

.bacharel .bacharel-card .bacharel-card-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 8px;
  background-color: #145e8f;
  color: #f0f0f0;
  border-radius: 4px;
  place-self: start;
}

.bacharel .bacharel-card .bacharel-card-detail span {
  font-family: "Kanit", sans-serif;
  font-size: 9px;
  font-weight: 400;
}
.bacharel .bacharel-card .bacharel-card-detail p {
  font-family: "Golos", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .container-cursos {
    gap: 0rem;
  }

  .formacao img {
    max-width: 5rem;
  }
}

@media (max-width: 770px) {
  .formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .formacao h1 {
    font-size: 2rem;
  }

  .formacao img {
    max-width: 50px;
  }

  .bacharel {
    gap: 1rem;
  }

  .bacharel .bacharel-card {
    place-self: center;
  }

  .bacharel p {
    font-size: 1rem;
    text-align: start;
  }

  .bacharel span {
    font-size: 1rem;
    text-align: start;
  }
}

/* cursos complementares */

.curso-container {
  margin: 0 auto;
  max-width: 1456px;
  width: 100%;
  padding: 20px 40px;
}

.curso-complementar-wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}

.curso-complementar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.curso-complementar-cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.card-flex {
  align-items: center;
  display: flex;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 8px 16px;
  border-radius: 4px;
}

.curso-complementar img {
  max-width: 120px;
}

.curso-complementar h1 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 2.369rem;
  color: #f0f0f0;
}

.curso-complementar-cards .card-flex h2 {
  font-family: "Golos", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #145e8f;
}

.curso-complementar-cards .card-flex span {
  font-family: "Kanit", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #145e8f;
}

.curso-complementar-cards .card-flex p {
  font-family: "Golos", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  color: #3498db;
}

@media (max-width: 1024px) {
  .curso-complementar img {
    max-width: 5rem;
  }
}

@media (max-width: 770px) {
  .curso-complementar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .curso-complementar-wrapper h1 {
    font-size: 2rem;
  }

  .curso-complementar-wrapper img {
    max-width: 50px;
  }

  .curso-complementar-cards {
    align-items: stretch;
  }
}

/* seção idiomas */
.idiomas-container {
  margin: 0 auto;
  max-width: 1456px;
  width: 100%;
  padding: 20px 40px;
}

.idiomas {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}

.idiomas-main {
  display: flex;
  gap: 20px;
  align-items: center;
}

.idiomas-main img {
  max-width: 120px;
}

.idiomas-main h1 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 2.369rem;
  color: #f0f0f0;
}

.idiomas-cards {
  display: flex;
  gap: 20px;
  align-items: center;
}

.idiomas-cards-un {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.idiomas-cards-un h2 {
  font-family: "Golos", sans-serif;
  font-size: 1.333rem;
  font-weight: 700;
  color: #145e8f;
}

.idiomas-cards-un p {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #3498db;
}

@media (max-width: 1024px) {
  .idiomas-main img {
    max-width: 5rem;
  }
}

@media (max-width: 770px) {
  .idiomas {
    display: flex;
    flex-direction: column;
    flex: wrap;
    gap: 10px;
  }

  .idiomas-main h1 {
    font-size: 2rem;
  }

  .idiomas-main img {
    max-width: 50px;
  }
}

@media (max-width: 425px) {
  .idiomas-cards {
    flex-direction: column;
  }

  .idiomas-cards-un {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .idiomas-cards-un h2 {
    font-size: 1rem;
  }

  .idiomas-cards-un p {
    font-size: 0.8rem;
  }
}
