.experiencia {
  margin: 0 auto;
  max-width: 1456px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 40px 80px;
}

.experiencia h1 {
  font-size: 7rem;
  font-family: Golos Text;
  font-weight: 900;
  letter-spacing: -0.03rem;
  color: #3498DB;
  line-height: 120px;
}

.experiencia .h1-700{display: none;}

.experiencia-grid {
  display: flex;
  flex-direction: column;;
  gap: 20px;
}
.experiencia-card {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background-color: #F0F0F0;
  box-shadow: 8px 8px 8px -4px rgba(0,0,0,0.1);
}

.experiencia-card h3{
  font-family: Kanit;
  font-weight: 400;
  font-size: 1.777rem;
  line-height: 24px;
  font-weight: 400;
  color: #3d3d3d;
}

.experiencia-card .p2{
  font-family: Kanit;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 500;
  color: #3D3D3D;
}

.experiencia-card .p3{
  font-family: Golos Text;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: #3d3d3d;
}


.experiencia-desc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px;
}

.tags .p3 {
  color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #3498DB;
}

@media (max-width: 770px){
  .experiencia-grid {
    gap: 40px;
  }

  .experiencia {
    flex-direction: column;
    gap: 16px;
  }

  .experiencia .h1-full {
    display: none;
  }
  .experiencia .h1-700{
    margin: 0 auto;
    display: block;
    font-size: 3rem;
    line-height: 3rem;
  }

  
.experiencia-card .p3{
  font-size: 1rem;
}

.experiencia-card {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

}