.showReel {
  padding: 40px 0px;
  background-color: rgba(52, 152, 219, 1);
}

.showReel h1 {
  text-align: center;
  font-family: Golos Text;
  font-size: 4.209rem;
  color: white;
  font-weight: 900;
  margin-bottom: 20px;
}

.showReel span {
  color: #ffc573;
  font-size: 4.209rem;
}

.showReel-video {
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 498px) {
  .showReel h1 {
    font-size: 3rem;
  }
  .showReel span {
    font-size: 3rem;
  }
}
