.container-footer-background {
  background-color: #145e8f;
}

.container-footer-background p {
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
  text-align: center;
  color: #9c9c9c;
  padding-top: 4rem;
}

.container-footer-background .footer-container {
  max-width: 1456px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 40px;
}

.footer {
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.4fr;
  gap: 40px;
}

.footer .footer-main img {
  max-width: 120px;
}

.footer .footer-main p {
  font-size: 1.333rem;
  color: #f0f0f0;
  text-align: start;
  padding-top: 1rem;
}

.footer .footer-contact-fix {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer .footer-contact h2 {
  font-family: "Kanit", sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  color: #f0f0f0;
}

.footer .footer-contact h1 {
  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f0f0f0;
}

.footer .footer-links ul li,
main-li {
  padding-bottom: 0.2rem;
}

.footer .footer-links ul li a {
  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f0f0f0;
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.footer .footer-links ul .main-li {
  font-family: "Kanit", sans-serif;
  font-size: 1.333rem;
  font-weight: 500;
  color: #f0f0f0;
}

@media (max-width: 1024px) {
  .footer .footer-contact-fix .footer-links {
    place-self: start end;
  }
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
  }

  .footer .footer-contact-fix {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 320px) {
  .footer-contact-fix {
    gap: 20px;
    padding-top: 1rem;
  }

  .footer .footer-main p {
    font-size: 1rem;
  }
}
