.header .logo {
  max-height: 50px;
}

.header {
  padding: 40px 80px;
  background-color: #3498DB;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.header-menu img {
  width: auto;
  height: 30px;
}

nav {
  max-width: 1450px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 770px){
  .header {
    padding: 40px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  nav .logo {
    width: 120%;
  }

}